table {
    margin: auto;
    margin-top: 60px;
    font-size: 18px;
    font-family: sans-serif;
}

table thead tr {
    background-color: #00986d;
    color: #fff;
    text-align: center;
}

table th, td {
    padding: 12px 15px;
}

button {
    width: 100px;
    height: 22px;
    background-color: wheat;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}
